# Server
server/data

# Dependency directories
node_modules/
pnp/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs and debugging
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor-specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS-specific files
.DS_Store
Thumbs.db

# Miscellaneous
*.swp
*.bak
*.tmp
*.cache
